:root {
    --color-1: #f8efe8;
    --color-2: #f4deca;
    --color-3: #e49f7e;
    --color-4: #bf4f45;

    --accent-1: #fcba04;
    --accent-2: #a50104;
    --accent-3: #590004;
}

/* Typical Selectors  */
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    margin-top: 0;
    background-color: var(--color-1);
}

p {
    line-height: 1.5;
    /* padding: 0.5rem 2rem 1rem 2rem; */
}

h1, h6 {
    margin: 0.25rem 2rem;
    font-family: 'Birthstone Bounce', 'Poppins', sans-serif, cursive;
}

h4, h5 {
    font-weight: 600;
}

.small>a {
    text-decoration: none;
    color: var(--color-3);
}

.small>a:hover, .small>a:visited {
    text-decoration: none;
    color: var(--accent-2);
}

/* Navigation Bar */
.navbar {
    background-color: var(--accent-3);
    font-size: 0.9rem;
    min-height: 50px;
    padding: 0;

}

.logo-text {
    font-family: 'Birthstone Bounce', 'Poppins', sans-serif, cursive;
    font-size: 30px;
}

.navbar .navbar-toggler {
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar-brand, .nav-link {
    color: var(--color-1);
}

.nav-item {
    padding: 0 8px;
}

.nav-link:hover, .nav-link:active, .navbar-brand:hover, .navbar-brand:active, .navbar-brand:visited, .navbar-brand:hover {
    color: var(--color-2);
}

.navbar .navbar-toggler[aria-expanded="true"] {
    color: var(--color-3) !important;
}

.navbar .navbar-toggler {
    color: var(--color-3);
}

.custom-toggler .navbar-toggler {
    border-color: rgb(255, 102, 102) !important;
}

/* Buttons Tweaks */
button {
    margin: 1.5rem 0.5rem;
}

.btn-light, .btn-light:visited, .btn-light:focus {
    color: var(--color-1);
    background-color: var(--color-3);
}

.btn-light:hover, .btn-light:active {
    color: var(--color-2);
    background-color: var(--color-4);
    border-color: var(--color-2);
}

/* Other Element Tweaks to classes/IDs */
section:before {
    height: 65px;
    content: "";
    display: block;
}

.fb-page {
    background-color: var(--color-1);
    color: var(--accent-2);
    border: 2px var(--accent-2) solid;
}

#title {
    margin-top: -65px;
}

#about {
    background-color: #ffffff;
}

.red-bg {
    background-color: var(--accent-3);
}

.color-2 {
    background-color: var(--color-2);
}

.profile-pic {
    max-width: 350px;
}

.sm-pic {
    max-height: 350px;
}

.fa-facebook-square {
    opacity: 0.15;
}

/* Carousel Settings */
.q-pic {
    height: 450px;
    border-radius: 10px;
}

.carousel {
    max-width: 500px;
    max-height: 457px;
    border-radius: 15px;
    border: 4px solid var(--accent-2);

}

@media (max-width: 768px) {
    .carousel {
        width: 350px;
        height: 320px;
    }

    .q-pic {
        height: 312px;
    }
}

.carousel-item>div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#quotes-carousel {
    margin: 0 auto;
}